html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
}

/*---------------------------- TOP MENU NAVIGATION BAR ---------------------------*/


.nav {
  background-color: #333;
}

.nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 18px;
  position: fixed;
  /*z-index: 150;*/
}

.nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: inline;
  padding: 0 20px;
  text-align: center;
  /*list-style-type: none;
  position: relative;*/
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: inline;
  transition: .3s background-color;
}

.nav ul a:hover {
  background-color: #005f5f;
  margin: 15px;
  font-size: 20px;
}

.nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}

.nav ul ul {
  position: absolute;
  display: none;
}

.nav ul li:hover > ul {
  display: block;
}

/*------------------------- TOP JUMBOTRON / PHOTO CAROUSEL ------------------------*/

.jumbotron {
  height: 550px;
  background: url('../images/BmoreLarge.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.trans-box {
  background-color: #333;
  opacity: 0.75;
  position: static;
  vertical-align: top;
  width: 15%;
  height: 20%;
  border-style: solid;
  border-width: 5px;
  border-color: #000;
}

.trans-box a {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none;
  /*padding: 0px 5px;*/
  /*font-weight: bold;*/
  /*-webkit-text-stroke: 1px black;*/
}

/*Why doesn't this work?!?!?*/
.transbox a h2 {
  padding: 0px 5px;
}

/*--------------------------------- SECTION 2 -------------------------------------*/

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
  text-decoration: none;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting img {
  height: 132px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 0 50px;
  margin-bottom: 10px;
}

.supporting a {
  text-decoration: none;
  color: black;
}

.supporting button {
  border-color: #333;
  background-color: #fff;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.clearfix {
  clear: both;
}

/*--------------------------------- SECTION 3 -------------------------------------*/

.jumbotron-2 {
  height: 750px;
  background: url('../images/iupat-logo-large.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*opacity: 0.5;*/
  text-align: center;
}

.jumbotron-2 .partners {
  float: left;
  /*width: 45%;*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 5px;
  padding: 5px;
  color: black;
}

.partners {
  color: black;
  opacity: 1.0;
  display: table;
  float: left;
  /*width: 50%;*/
  height: 750px;
  margin: 12px;
}

.partners .fti {
  width: 40%;
  float: left;
  line-height: 1.25em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  position: absolute (top: 0px, left: 10px);
}

.partners .lmci {
  width: 40%;
  float: right;
  line-height: 1.25em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
}

/*--------------------------------- SECTION 4 -------------------------------------*/

.jumbotron-3 {
  height: 500px;
  background-color: rgb(250, 185, 18);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 5px;
}

.jumbotron-3 .col {
  float: left;
  width: 22%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

/*--------------------------------- SECTION 5 -------------------------------------*/

.jumbotron-4 {
  height: 600px;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 5px;
}

.jumbotron-4 .col {
  float: left;
  width: 45%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 5px;
  padding: 0 5px 5px;
}

/*--------------------------------- SECTION 6 -------------------------------------*/

.jumbotron-5 {
  height: 575px;
  background-color: rgb(250, 185, 18);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 5px;
}

.jumbotron-5 .col {
  float: left;
  width: 30%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

/*---------------------------- SECTION 7 - Calendar --------------------------------*/

#calendar-wrap {
  height: 575px;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 5px;
}





/*--------------------------------- FOOTER -------------------------------------*/

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  display: inline;
}

@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
  }
}

.social-icon {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}


/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 1350px) {
  .nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  .nav a {
    border-bottom: none;
  }

  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

   /*Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
  }
}


